# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Logs
*.log

# Database
*.db
*.sqlite3

# Pytest
.pytest_cache/

# Build
build/
dist/

# OS
.DS_Store
Thumbs.db